extends common/layout
include common/mixins

block content
	main
		.about-wrap#about
			.about-container.container
				.about
					h2.section__title.section__title--left.about__title О нашей академии
					p.regular-text.about__text Академия развития инновационных технологий (АРИТ). АРИТ — это место, где помогают людям разных профессий повысить квалификацию или пройти полную профессиональную переподготовку. В академии свои знания и опыт  передают команда профессоров, докторов наук, специалистов практиков с выдающимися результатами в своих областях. 
					p.regular-text.about__text.text-bold Достаточно выбрать одно из 100 направлений.
					p.regular-text.about__text Теоретические знания вы можете получать дистанционно, в удобное для Вас время. А практика всегда проходит в оборудованных высокотехнологичных классах. Поэтому у вас нет необходимости надолго отрываться от работы ради обучения.
					p.regular-text.about__text Врачи, геодезисты, строители, проектировщики, педагоги, средний медперсонал и люди других профессий, — получают дополнительное образование в нашей Академии.
						span.text-bold  На базе АРИТ обучаются до 15 тысяч специалистов ежемесячно со всей России. 
					p.regular-text.about__text Если у вас уже есть базовое образование, но вы хотите стать более востребованным специалистом ,то мы ждем вас в АРИТ. 
				button.thirdly-button.about-more Показать полностью
				+pic({
					pictureClass: 'about-picture',
					ext: 'png',
					src: 'img/3-about/about-pic'
				})
			+pic({
				pictureClass: 'about-picture__left',
				ext: 'png',
				src: 'img/3-about/horse-l'
			})
			+pic({
				pictureClass: 'about-picture__right',
				ext: 'png',
				src: 'img/3-about/apolo-r'
			})
