extends common/layout
include common/mixins

block content
	main#top
		script.
			var mapsDelay = 10000;
		.hero-wrapper
			+pic({
				pictureClass: 'hero__picture-left',
				ext: 'png',
				src: 'img/1-hero/chess'
			})
			+pic({
				pictureClass: 'hero__picture-right',
				ext: 'png',
				src: 'img/1-hero/cap'
			})
			.hero-container.container
				.hero
					h1.section__title.section__title--left.hero__title Стань востребованным специалистом в сжатые сроки, не отрываясь от&nbsp;работы
					ul.hero-bullets
						li.hero-bullet Выбери одно из 
							span.text-bold  40 направлений
							|  переподготовки и повышения квалификации
						li.hero-bullet Пройди теорию
							span.text-bold  удаленно
							| , а практику очно (в&nbsp;высокотехнологичных классах)
						li.hero-bullet Получи
							span.text-bold  поддержку 24/7 и диплом
							|  по&nbsp;окончании
					.hero-buttons
						button.primary-button.hero-cta Получить консультацию
						a(target="_blank" href="https://dpoarit.ispringlearn.ru").secondary-button.hero-learning Учебный портал




		.learning#learning
			.container
				h2.section__title.learning__title Направления обучения в АРИТ
				.learning-tabs-wrap
					.learning-tabbar
						button.learning-tab__control.learning-tab__control--skillup.learning-tab__control--active Профессиональная переподготовка
						button.learning-tab__control.learning-tab__control--retrain Повышение квалификации 

					.learning-tab--retrain
						div.learning-tab
							ul.learning-tab-list
								li.learning-tab-list-item АвиаГСМ
								li.learning-tab-list-item Агрономия
								li.learning-tab-list-item Архитектура и дизайн
								li.learning-tab-list-item Бухгалтерское дело
								li.learning-tab-list-item Ветеринария
								li.learning-tab-list-item Горная промышленность и маркшейдерское дело
								li.learning-tab-list-item Государственное и муниципальное управление
								li.learning-tab-list-item Государственные закупки
								li.learning-tab-list-item Железнодорожный транспорт
								li.learning-tab-list-item Землеустройство и кадастр
								li.learning-tab-list-item Инженерные изыскания
								li.learning-tab-list-item Инженерные системы
								li.learning-tab-list-item Кадровое делопроизводство
							ul.learning-tab-list
								li.learning-tab-list-item Косметология
								li.learning-tab-list-item Лаборатории
								li.learning-tab-list-item Медицина
								li.learning-tab-list-item Менеджмент
								li.learning-tab-list-item Металлургия
								li.learning-tab-list-item Метрологический контроль
								li.learning-tab-list-item Нефтегазовое дело
								li.learning-tab-list-item Охрана труда. Специальная оценка условий труда (СОУТ)
								li.learning-tab-list-item Оценочная деятельность
								li.learning-tab-list-item Педагогика
								li.learning-tab-list-item Подъемные сооружения и лифты
								li.learning-tab-list-item Пожарно-технический минимум
								li.learning-tab-list-item Проектирование 
							ul.learning-tab-list
								li.learning-tab-list-item Радиационная безопасность
								li.learning-tab-list-item Реставрация
								li.learning-tab-list-item Спорт и фитнес
								li.learning-tab-list-item Строительство
								li.learning-tab-list-item Техническое обслуживание медицинской техники (ТОМТ)
								li.learning-tab-list-item Транспортная безопасность
								li.learning-tab-list-item Фармация
								li.learning-tab-list-item Холодильное оборудование
								li.learning-tab-list-item Экология
								li.learning-tab-list-item Экономика и финансы
								li.learning-tab-list-item Электробезопасность
								li.learning-tab-list-item Энергетика
								li.learning-tab-list-item Юриспруденция
						button.learning-more--retrain.secondary-button Показать еще
					.learning-tab--skillup.learning-tab--active

						.learning-tab
							ul.learning-tab-list
								li.learning-tab-list-item Master of Business Administration&nbsp;(MBA)
								li.learning-tab-list-item АвиаГСМ 
								li.learning-tab-list-item Агрономия 
								li.learning-tab-list-item Архитектура и дизайн
								li.learning-tab-list-item Бухгалтерское дело
								li.learning-tab-list-item Ветеринария
								li.learning-tab-list-item Горная промышленность и маркшейдерское дело
								li.learning-tab-list-item Государственное и муниципальное управление
								li.learning-tab-list-item Государственные закупки
								li.learning-tab-list-item Железнодорожный транспорт
								li.learning-tab-list-item Землеустройство и кадастр
								li.learning-tab-list-item Инженерные изыскания
								li.learning-tab-list-item Инженерные системы
							ul.learning-tab-list
								li.learning-tab-list-item Кадровое делопроизводство
								li.learning-tab-list-item Косметология
								li.learning-tab-list-item Лаборатории
								li.learning-tab-list-item Медицина
								li.learning-tab-list-item Менеджмент
								li.learning-tab-list-item Металлургия
								li.learning-tab-list-item Метрологический контроль
								li.learning-tab-list-item Нефтегазовое дело
								li.learning-tab-list-item Охрана труда. Специальная оценка условий труда (СОУТ)
								li.learning-tab-list-item Оценочная деятельность
								li.learning-tab-list-item Педагогика
								li.learning-tab-list-item Подъемные сооружения и лифты
								li.learning-tab-list-item Пожарно-технический минимум
							ul.learning-tab-list
								li.learning-tab-list-item Проектирование
								li.learning-tab-list-item Реставрация
								li.learning-tab-list-item Спорт и фитнес
								li.learning-tab-list-item Строительство
								li.learning-tab-list-item Техническое обслуживание медицинской техники (ТОМТ)
								li.learning-tab-list-item Транспортная безопасность
								li.learning-tab-list-item Фармация 
								li.learning-tab-list-item Холодильное оборудование
								li.learning-tab-list-item Экология
								li.learning-tab-list-item Экономика и финансы
								li.learning-tab-list-item Энергетика
								li.learning-tab-list-item Юриспруденция
						button.learning-more--skillup.secondary-button Показать еще


		.about-wrap#about
			.about-container.container
				.about
					h2.section__title.section__title--left.about__title О нашей академии
					p.regular-text.about__text Академия развития инновационных технологий (АРИТ). АРИТ — это место, где помогают людям разных профессий повысить квалификацию или пройти полную профессиональную переподготовку. В академии свои знания и опыт  передают команда профессоров, докторов наук, специалистов практиков с выдающимися результатами в своих областях. 
					p.regular-text.about__text.text-bold Достаточно выбрать одно из 100 направлений.
					p.regular-text.about__text Теоретические знания вы можете получать дистанционно, в удобное для Вас время. А практика всегда проходит в оборудованных высокотехнологичных классах. Поэтому у вас нет необходимости надолго отрываться от работы ради обучения.
					p.regular-text.about__text Врачи, геодезисты, строители, проектировщики, педагоги, средний медперсонал и люди других профессий, — получают дополнительное образование в нашей Академии.
						span.text-bold  На базе АРИТ обучаются до 15 тысяч специалистов ежемесячно со всей России. 
					p.regular-text.about__text Если у вас уже есть базовое образование, но вы хотите стать более востребованным специалистом ,то мы ждем вас в АРИТ. 
				//- button.thirdly-button.about-more Показать полностью
				+pic({
					pictureClass: 'about-picture',
					ext: 'png',
					src: 'img/3-about/about-pic'
				})
			+pic({
				pictureClass: 'about-picture__left',
				ext: 'png',
				src: 'img/3-about/horse-l'
			})
			+pic({
				pictureClass: 'about-picture__right',
				ext: 'png',
				src: 'img/3-about/apolo-r'
			})
			+pic({
				pictureClass: 'about-picture__right-2',
				ext: 'png',
				src: 'img/3-about/microscope'
			})







		+featuresBlock({
			title: 'Преимущества',
		})






		.teachers-wrap
			.teachers-container.container
				.teachers
					h2.section__title.teachers__title Наши преподаватели
					.teachers-slider-outer
						.teachers-slider-wrap.swiper-container
							.teachers-slider.swiper-wrapper
								+teacherSlide({
									src: 'img/5-teachers/agafonov',
									title: 'Агафонов Николай Владимирович',
									descr: 'Генеральный директор компании «Альфа Консалтинг», преподаватель по геодезии со стажем более 10 лет',
									classes: 'swiper-slide',
								})
								+teacherSlide({
									classes: 'swiper-slide',
									src: 'img/5-teachers/bahtiyarov',
									title: 'Бахтияров Камиль Рафаэльевич',
									descr: 'Доктор медицинских наук, профессор, врач акушер-гинеколог'
								})
								+teacherSlide({
									classes: 'swiper-slide',
									src: 'img/5-teachers/bikov',
									title: 'Быков Алексей Юрьевич',
									descr: 'Врач-нейрохирург, член Европейской ассоциации клинической гипертермии, продакт-менеджер компании Zerts'
								})
								+teacherSlide({
									classes: 'swiper-slide',
									src: 'img/5-teachers/shmatkova',
									title: 'Шматкова Виктория Викторовна',
									descr: 'Медицинский маркетолог, кандидат экономических наук, MBA, предприниматель, владелец компании ZERTS'
								})
								+teacherSlide({
									classes: 'swiper-slide',
									src: 'img/5-teachers/glazkova',
									title: 'Глазкова Ольга Леонидовна',
									descr: 'Кандидат медицинских наук, доцент, врач акушер-гинеколог, врач узи, гинеколог-эндокринолог, онкогинеколог'
								})
								+teacherSlide({
									classes: 'swiper-slide',
									src: 'img/5-teachers/knish',
									title: 'Кныш Олег Юрьевич',
									descr: 'Клинический психолог, гипнолог, коуч, преподаватель и автор серии курсов и тренингов по применению методик прикладной психологии для установления эффективной коммуникации'
								})
								+teacherSlide({
									classes: 'swiper-slide',
									src: 'img/5-teachers/leizerman',
									title: 'Лейзерман Михаил Григорьевич',
									descr: 'Доктор медицинских наук, профессор, врач-оториноларинголог высшей категории, заместитель главного врача по хирургии в ГКБ № 29 им. Н. Э. Баумана, основоположник радиохирургии в России'
								})
								+teacherSlide({
									classes: 'swiper-slide',
									src: 'img/5-teachers/lozhnikova',
									title: 'Ложникова Татьяна Вячеславовна',
									descr: 'Кандидат педагогических наук, доцент, заместитель директора по учебно-методической работе СПО'
								})
								+teacherSlide({
									classes: 'swiper-slide',
									src: 'img/5-teachers/lucenko',
									title: 'Луценко Николай Николаевич',
									descr: 'Кандидат медицинских наук, доцент, врач-гинеколог, начальник отдела по производственной практике РНИМУ им. Н.И. Пирогова, руководитель кластера «высокие технологии в гинекологии» НПС «Эндохирургия» ЦА УЦИМТ, ведущий специалист Центра по направлению гинекология — лапароскопические и гистероскопические технологии'
								})
								+teacherSlide({
									classes: 'swiper-slide',
									src: 'img/5-teachers/markevich',
									title: 'Маркевич Харита Алексеевна',
									descr: 'Психолог, коуч, сертифицированный бизнес-тренер'
								})
								+teacherSlide({
									classes: 'swiper-slide',
									src: 'img/5-teachers/mindlin',
									title: 'Миндлин Сергей Николаевич',
									descr: 'Врач-оториноларинголог, стипендиат президента 2016-2018 гг., обладатель золотой медали «Я-профессионал» (2018 г.), Победитель гранта УМНИК (2017 г.), автор более 10 печатных работ в рецензируемых изданиях, докладчик на всероссийских и международных конференциях'
								})
								+teacherSlide({
									classes: 'swiper-slide',
									src: 'img/5-teachers/pogosyan',
									title: 'Погосян Месроп Левонович',
									descr: 'Врач анестезиолог-реаниматолог, заведующий отделением анестезиологии и реанимации и оперблока официального филиала израильской клиники Hadassah Medical Moscow'
								})
								+teacherSlide({
									classes: 'swiper-slide',
									src: 'img/5-teachers/skvortsova',
									title: 'Скворцова Мария Артуровна',
									descr: 'Кандидат медицинских наук, врач травматолог-ортопед, ассистент кафедры травматологии, ортопедии и ВПХ ПФ РНИМУ им. Н. И. Пирогова'
								})
								+teacherSlide({
									classes: 'swiper-slide',
									src: 'img/5-teachers/firichenko',
									title: 'Фириченко Сергей Викторович',
									descr: 'Доктор медицинских наук, доцент кафедры акушерства и гинекологии лечебного факультета Московского Государственного Медико-стоматологического университета имени А.И. Евдокимова, эксперт РАГИН, член РАГИН, МАРС, сертифицированный специалист по кольпоскопии в Великобритании и США'
								})
								+teacherSlide({
									classes: 'swiper-slide',
									src: 'img/5-teachers/churganova',
									title: 'Чурганова Анастасия Алексеевна',
									descr: 'Кандидат медицинских наук, доцент кафедры акушерства, гинекологии и перинатологии Института клинической медицины имени Н.В. Склифосовского Первого МГМУ имени И.М.Сеченова'
								})

						.teachers-slider-scrollbar.slider-scrollbar
						.teachers-slider-prev.slider-button
							+leftArrow('news-slider__arrow')
							//- img(src="img/0-common/arrow-left.svg", alt="")
						.teachers-slider-next.slider-button
							+rightArrow('news-slider__arrow')
							//- img(src="img/0-common/arrow-right.svg", alt="")
							






		.meetups-wrapper#meetups
			.meetups-container.container
				.meetups
					.meetups-category.meetups-category--seminars
						h2.section__title Семинары
						+SeminarItem()
						a.secondary-button.meetups-more--seminars(href="/seminars") Показать еще
					.meetups-category.meetups-category--webinars
						h2.section__title Вебинары
						+WebinarItem()
						a.secondary-button.meetups-more--webinars(href="/webinars") Показать еще

			//- .meetups-mor -wrapper
			//-     button.secondary-button.meetups-more.meetups-more--desktop Показать еще


	.news-wrapper#news
		.news-container.container
			.news
				h2.section__title.news__title Новости
				.news-slider-outer
					.news-slider-wrapper.swiper-container
						.news-slider.swiper-wrapper
							div.news-item.swiper-slide
								+pic({
									pictureClass: 'news__picture',
									ext: 'png',
									src: 'img/7-news/news-1'
								})
								.news-info
									h3.news-item__title Заголовок новости
									p.news-item__descr Текст описания в 2 строчки, чтобы набить обхем текста
									div.news-bottom
										button.news-button Подробнее
										span.news-date 02.06.20
							div.news-item.swiper-slide
								+pic({
									pictureClass: 'news__picture',
									ext: 'png',
									src: 'img/7-news/news-1'
								})
								.news-info
									h3.news-item__title Заголовок новости
									p.news-item__descr Текст описания в 2 строчки, чтобы набить обхем текста
									div.news-bottom
										button.news-button Подробнее
										span.news-date 02.06.20
							div.news-item.swiper-slide
								+pic({
									pictureClass: 'news__picture',
									ext: 'png',
									src: 'img/7-news/news-1'
								})
								.news-info
									h3.news-item__title Заголовок новости
									p.news-item__descr Текст описания в 2 строчки, чтобы набить обхем текста
									div.news-bottom
										button.news-button Подробнее
										span.news-date 02.06.20

							div.news-item.swiper-slide
								+pic({
									pictureClass: 'news__picture',
									ext: 'png',
									src: 'img/7-news/news-2'
								})
								.news-info
									h3.news-item__title Заголовок новости
									p.news-item__descr Текст описания в 2 строчки, чтобы набить обхем текста
									div.news-bottom
										button.news-button Подробнее
										span.news-date 02.06.20

							div.news-item.swiper-slide
								+pic({
									pictureClass: 'news__picture',
									ext: 'png',
									src: 'img/7-news/news-2'
								})
								.news-info
									h3.news-item__title Заголовок новости
									p.news-item__descr Текст описания в 2 строчки, чтобы набить обхем текста
									div.news-bottom
										button.news-button Подробнее
										span.news-date 02.06.20

							div.news-item.swiper-slide
								+pic({
									pictureClass: 'news__picture',
									ext: 'png',
									src: 'img/7-news/news-2'
								})
								.news-info
									h3.news-item__title Заголовок новости
									p.news-item__descr Текст описания в 2 строчки, чтобы набить обхем текста
									div.news-bottom
										button.news-button Подробнее
										span.news-date 02.06.20
					.news-slider-scrollbar.slider-scrollbar
					.news-slider-prev.slider-button
						//- img(src="img/0-common/arrow-left.svg", alt="")
						+leftArrow('news-slider__arrow')
					.news-slider-next.slider-button
						+rightArrow('news-slider__arrow')
						//- img(src="img/0-common/arrow-right.svg", alt="")






		+partnersSlider({
			title: 'Партнеры'
		})
							//- img(src="img/0-common/arrow-right.svg", alt="")

		mixin oldResourcesItem()
			li.resourses-item
					div.resourses-item-info
						h3.resourses-item__title Электронно-библиотечная система
						p.resourses__size 1 Мб
					button.resourses-download
						span Скачать PDF
						img(src="img/0-common/pdf.svg", alt="")

		//- mixin ResoursesItem(data)
		//-     li.resourses-item
		//-         a(href="#").resourses-item__link
		//-             img(src= data.src, alt="resourse").resourses-item__icon
		//-             h3.resourses-item__name= data.name


		section.resourses-wrapper#resourses
			.resourses-container.container
				.resourses
					h2.section__title.resourses__title Ресурсы
					ul.resourses-list
						+ResoursesItem({
							name: 'Электронно-библиотечная система',
							src: 'img/9-resources/books.svg'
						})
						+ResoursesItem({
							name: `Федеральное медико\u2011биологическое агентство`,
							src: 'img/9-resources/pharmacy.svg'
						})
						+ResoursesItem({
							name: 'Портал непрерывного медицинского образования',
							src: 'img/9-resources/graduate.svg'
						})
						+ResoursesItem({
							name: 'Центральная научная медицинская библиотека',
							src: 'img/9-resources/atom.svg'
						})
						+ResoursesItem({
							name: 'Электронная медицинская библиотека',
							src: 'img/9-resources/caduceus.svg'
						})
						+ResoursesItem({
							name: 'Фундаментальная медицинская библиотека',
							src: 'img/9-resources/dna.svg'
						})
						+ResoursesItem({
							name: 'Медицинская энциклопедия',
							src: 'img/9-resources/encyclopedia.svg'
						})
						+ResoursesItem({
							name: 'Единое окно доступа к информационным ресурсам',
							src: 'img/9-resources/file.svg'
						})







		.testimonials-wrapper#testimonials
			.testimonials-container.container
				.testimonials
					h2.section__title.testimonials__title Отзывы
					.testimonials-slider-outer
						//- .testimonials-slider-wrap.swiper-container
						.testimonials-slider-wrap
							
							//- ul.testimonials-list.testimonials-slider.swiper-wrapper
							.testimonials-list.testimonials-slider

								+Testimonial('1')
								+Testimonial('2')
								+Testimonial('3')
							.testimonials-slider-scrollbar
						//- li.testimonial
						//-     +pic({
						//-         pictureClass: 'testimonial__picture',
						//-         ext: 'png',
						//-         src: 'img/10-testimonials/testimonial-3-1'
						//-     })
						//-     div.testimonial-message
						//-         div.testimonial-message-info
						//-             div.testimonial-who
						//-                 h3.testimonial-who__name Оксана Иванова
						//-                 p.testimonial-who__position Директор MacDonalds
						//-             div.testimonial__date 21.06.20
						//-         p.testimonial__text Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum. In culpa qui officia deserunt mollit anim id est laborum.
						//- li.testimonial
						//-     +pic({
						//-         pictureClass: 'testimonial__picture',
						//-         ext: 'png',
						//-         src: 'img/10-testimonials/testimonial-3'
						//-     })
						//-     div.testimonial-message
						//-         div.testimonial-message-info
						//-             div.testimonial-who
						//-                 h3.testimonial-who__name Артем Репин
						//-                 p.testimonial-who__position Основатель Apple
						//-             div.testimonial__date 12.06.20
						//-         p.testimonial__text Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum. In culpa qui officia deserunt mollit anim id est laborum.
					.testimonials-more-wrap
						a.secondary-button.testimonials-more(href="/testimonials.html") Показать еще

block scripts
	script(src="js/modal.min.js")
	script(src="js/blocks/headerAndFooter.min.js")
	script(src="js/blocks/tabbar.min.js")
	script(src="js/swiper-bundle.min.js")
	script(src="js/zzz-main.min.js")
