extends common/layout
include common/mixins

block content
	main
		.hero-wrapper
			+pic({
				pictureClass: 'hero__picture-left',
				ext: 'png',
				src: 'img/1-hero/chess'
			})
			+pic({
				pictureClass: 'hero__picture-right',
				ext: 'png',
				src: 'img/1-hero/cap'
			})
			.hero-container.container
				.hero
					h1.section__title.section__title--left.hero__title Стань востребованным специалистом в сжатые сроки, не отрываясь от&nbsp;работы
					ul.hero-bullets
						li.hero-bullet Выбери одно из 
							span.text-bold  40 направлений
							|  переподготовки и повышения квалификации
						li.hero-bullet Пройди теорию
							span.text-bold  удаленно
							| , а практику очно (в&nbsp;высокотехнологичных классах)
						li.hero-bullet Получи
							span.text-bold  поддержку 24/7 и диплом
							|  по&nbsp;окончании
					.hero-buttons
						button.primary-button.hero-cta Получить консультацию
						button.secondary-button.hero-learning Учебный портал




		.learning#learning
			.container
				h2.section__title.learning__title Направления обучения в АРИТ
				.learning-tabs-wrap
					.learning-tabbar
						button.learning-tab__control.learning-tab__control--skillup.learning-tab__control--active Профессиональная переподготовка
						button.learning-tab__control.learning-tab__control--retrain Повышение квалификации 

					.learning-tab--retrain
						div.learning-tab
							ul.learning-tab-list
								li.learning-tab-list-item АвиаГСМ
								li.learning-tab-list-item Агрономия
								li.learning-tab-list-item Архитектура и дизайн
								li.learning-tab-list-item Бухгалтерское дело
								li.learning-tab-list-item Ветеринария
								li.learning-tab-list-item Горная промышленность и маркшейдерское дело
								li.learning-tab-list-item Государственное и муниципальное управление
								li.learning-tab-list-item Государственные закупки
								li.learning-tab-list-item Железнодорожный транспорт
								li.learning-tab-list-item Землеустройство и кадастр
								li.learning-tab-list-item Инженерные изыскания
								li.learning-tab-list-item Инженерные системы
								li.learning-tab-list-item Кадровое делопроизводство
							ul.learning-tab-list
								li.learning-tab-list-item Косметология
								li.learning-tab-list-item Лаборатории
								li.learning-tab-list-item Медицина
								li.learning-tab-list-item Менеджмент
								li.learning-tab-list-item Металлургия
								li.learning-tab-list-item Метрологический контроль
								li.learning-tab-list-item Нефтегазовое дело
								li.learning-tab-list-item Охрана труда. Специальная оценка условий труда (СОУТ)
								li.learning-tab-list-item Оценочная деятельность
								li.learning-tab-list-item Педагогика
								li.learning-tab-list-item Подъемные сооружения и лифты
								li.learning-tab-list-item Пожарно-технический минимум
								li.learning-tab-list-item Проектирование 
							ul.learning-tab-list
								li.learning-tab-list-item Радиационная безопасность
								li.learning-tab-list-item Реставрация
								li.learning-tab-list-item Спорт и фитнес
								li.learning-tab-list-item Строительство
								li.learning-tab-list-item Техническое обслуживание медицинской техники (ТОМТ)
								li.learning-tab-list-item Транспортная безопасность
								li.learning-tab-list-item Фармация
								li.learning-tab-list-item Холодильное оборудование
								li.learning-tab-list-item Экология
								li.learning-tab-list-item Экономика и финансы
								li.learning-tab-list-item Электробезопасность
								li.learning-tab-list-item Энергетика
								li.learning-tab-list-item Юриспруденция
						button.learning-more--retrain.secondary-button Показать еще
					.learning-tab--skillup.learning-tab--active
						.learning-tab
							ul.learning-tab-list
								li.learning-tab-list-item Master of Business Administration&nbsp;(MBA)
								li.learning-tab-list-item АвиаГСМ 
								li.learning-tab-list-item Агрономия 
								li.learning-tab-list-item Архитектура и дизайн
								li.learning-tab-list-item Бухгалтерское дело
								li.learning-tab-list-item Ветеринария
								li.learning-tab-list-item Горная промышленность и маркшейдерское дело
								li.learning-tab-list-item Государственное и муниципальное управление
								li.learning-tab-list-item Государственные закупки
								li.learning-tab-list-item Железнодорожный транспорт
								li.learning-tab-list-item Землеустройство и кадастр
								li.learning-tab-list-item Инженерные изыскания
								li.learning-tab-list-item Инженерные системы
							ul.learning-tab-list
								li.learning-tab-list-item Кадровое делопроизводство
								li.learning-tab-list-item Косметология
								li.learning-tab-list-item Лаборатории
								li.learning-tab-list-item Медицина
								li.learning-tab-list-item Менеджмент
								li.learning-tab-list-item Металлургия
								li.learning-tab-list-item Метрологический контроль
								li.learning-tab-list-item Нефтегазовое дело
								li.learning-tab-list-item Охрана труда. Специальная оценка условий труда (СОУТ)
								li.learning-tab-list-item Оценочная деятельность
								li.learning-tab-list-item Педагогика
								li.learning-tab-list-item Подъемные сооружения и лифты
								li.learning-tab-list-item Пожарно-технический минимум
							ul.learning-tab-list
								li.learning-tab-list-item Проектирование
								li.learning-tab-list-item Реставрация
								li.learning-tab-list-item Спорт и фитнес
								li.learning-tab-list-item Строительство
								li.learning-tab-list-item Техническое обслуживание медицинской техники (ТОМТ)
								li.learning-tab-list-item Транспортная безопасность
								li.learning-tab-list-item Фармация 
								li.learning-tab-list-item Холодильное оборудование
								li.learning-tab-list-item Экология
								li.learning-tab-list-item Экономика и финансы
								li.learning-tab-list-item Энергетика
								li.learning-tab-list-item Юриспруденция
						button.learning-more--skillup.secondary-button Показать еще


		.about-wrap#about
			.about-container.container
				.about
					h2.section__title.section__title--left.about__title О нашей академии
					p.regular-text.about__text Академия развития инновационных технологий (АРИТ). АРИТ — это место, где помогают людям разных профессий повысить квалификацию или пройти полную профессиональную переподготовку. В академии свои знания и опыт  передают команда профессоров, докторов наук, специалистов практиков с выдающимися результатами в своих областях. 
					p.regular-text.about__text.text-bold Достаточно выбрать одно из 100 направлений.
					p.regular-text.about__text Теоретические знания вы можете получать дистанционно, в удобное для Вас время. А практика всегда проходит в оборудованных высокотехнологичных классах. Поэтому у вас нет необходимости надолго отрываться от работы ради обучения.
					p.regular-text.about__text Врачи, геодезисты, строители, проектировщики, педагоги, средний медперсонал и люди других профессий, — получают дополнительное образование в нашей Академии.
						span.text-bold  На базе АРИТ обучаются до 15 тысяч специалистов ежемесячно со всей России. 
					p.regular-text.about__text Если у вас уже есть базовое образование, но вы хотите стать более востребованным специалистом ,то мы ждем вас в АРИТ. 
				button.thirdly-button.about-more Показать полностью
				+pic({
					pictureClass: 'about-picture',
					ext: 'png',
					src: 'img/3-about/about-pic'
				})
			+pic({
				pictureClass: 'about-picture__left',
				ext: 'png',
				src: 'img/3-about/horse-l'
			})
			+pic({
				pictureClass: 'about-picture__right',
				ext: 'png',
				src: 'img/3-about/apolo-r'
			})
			+pic({
				pictureClass: 'about-picture__right-2',
				ext: 'png',
				src: 'img/3-about/microscope'
			})








		.features-wrapper
			.features-container.container
				.features
					h2.section__title.features__title Преимущества
					ol.features-list
						li.features-list-item
							p.features-item__text 
								span.text-bold Индивидуальный подход 
								|  и&nbsp;модульная система обучения 
							+pic({
								pictureClass: 'features-pic',
								ext: 'png',
								src: 'img/4-features/stairs'
							})
							h3.features-item__number 01
						li.features-list-item
							p.features-item__text 
								span.text-bold Сотни
								|  направлений обучения
							+pic({
								pictureClass: 'features-pic',
								ext: 'png',
								src: 'img/4-features/weathervane'
							})
							h3.features-item__number 02
						li.features-list-item
							p.features-item__text Поддержка кураторов 
								span.text-bold 24/7
							+pic({
								pictureClass: 'features-pic',
								ext: 'png',
								src: 'img/4-features/shield'
							})
							h3.features-item__number 03
						li.features-list-item
							p.features-item__text Все преподаватели<br>действующие 
								span.text-bold практики
							+pic({
								pictureClass: 'features-pic',
								ext: 'png',
								src: 'img/4-features/caduceus'
							})
							h3.features-item__number 04
						li.features-list-item
							p.features-item__text.features-item__text--single-row Учебные программы соответствуют
								span.text-bold  государственным стандартам (ФГОС) 
							+pic({
								pictureClass: 'features-pic',
								ext: 'png',
								src: 'img/4-features/book'
							})
							h3.features-item__number 05
						li.features-list-item 
							p.features-item__text.features-item__text--single-row Доставка документов
								span.text-bold  по всей России
							+pic({
								pictureClass: 'features-pic',
								ext: 'png',
								src: 'img/4-features/box'
							})
							h3.features-item__number 06

						li.features-list-item
							p.features-item__text.features-item__text--single-row Документы установленного образца
							+pic({
								pictureClass: 'features-pic',
								ext: 'png',
								src: 'img/4-features/paper'
							})
							h3.features-item__number 07

						li.features-list-item
							p.features-item__text Доступ к учебным материалам 
								span.text-bold в&nbsp;любое время
							+pic({
								pictureClass: 'features-pic',
								ext: 'png',
								src: 'img/4-features/safe'
							})
							h3.features-item__number 08

						li.features-list-item
							p.features-item__text Доступные цены
							+pic({
								pictureClass: 'features-pic',
								ext: 'png',
								src: 'img/4-features/piggy'
							})
							h3.features-item__number 09






		.teachers-wrap
			.teachers-container.container
				.teachers
					h2.section__title.teachers__title Наши преподаватели
					.teachers-slider-outer
						.teachers-slider-wrap.swiper-container
							.teachers-slider.swiper-wrapper
								mixin teacherSlide(data)
									div.teachers-slide.swiper-slide
										- var src = data.src
										+pic({
											pictureClass: 'teachers__pic',
											ext: 'png',
											src: src
										})
										h3.teachers-slide__title= data.title
										p.teachers-slide__descr= data.descr

								div.teachers-slide.swiper-slide
									+pic({
										pictureClass: 'teachers__pic',
										ext: 'png',
										src: 'img/5-teachers/agafonov'
									})
									h3.teachers-slide__title Агафонов Николай Владимирович
									p.teachers-slide__descr Генеральный директор компании «Альфа Консалтинг», преподаватель по геодезии со стажем более 10 лет
								div.teachers-slide.swiper-slide
									+pic({
										pictureClass: 'teachers__pic',
										ext: 'png',
										src: 'img/5-teachers/bahtiyarov'
									})
									h3.teachers-slide__title Бахтияров Камиль Рафаэльевич
									p.teachers-slide__descr Доктор медицинских наук, профессор, врач акушер-гинеколог
								div.teachers-slide.swiper-slide
									+pic({
										pictureClass: 'teachers__pic',
										ext: 'png',
										src: 'img/5-teachers/bikov'
									})
									h3.teachers-slide__title Быков  Алексей Юрьевич
									p.teachers-slide__descr Врач-нейрохирург, член Европейской аcсоциации клинической гипертермии, эксперт по радиохирургическим методам лечения, продакт-менеджер компании Zerts
		
								+teacherSlide({
									src: 'img/5-teachers/agafonov',
									title: 'Агафонов Николай Владимирович',
									descr: 'Генеральный директор компании «Альфа Консалтинг», преподаватель по геодезии со стажем более 10 лет'
								})
								+teacherSlide({
									src: 'img/5-teachers/agafonov',
									title: 'Агафонов Николай Владимирович',
									descr: 'Генеральный директор компании «Альфа Консалтинг», преподаватель по геодезии со стажем более 10 лет'
								})
								//- +teacherSlide({
								//-     src: 'img/5-teachers/agafonov',
								//-     title: 'Агафонов Николай Владимирович',
								//-     descr: 'Генеральный директор компании «Альфа Консалтинг», преподаватель по геодезии со стажем более 10 лет'
								//- })
						.teachers-slider-scrollbar.slider-scrollbar
						.teachers-slider-prev.slider-button
							+leftArrow('news-slider__arrow')
							//- img(src="img/0-common/arrow-left.svg", alt="")
						.teachers-slider-next.slider-button
							+rightArrow('news-slider__arrow')
							//- img(src="img/0-common/arrow-right.svg", alt="")
							






		.meetups-wrapper#meetups
			.meetups-container.container
				.meetups
					.meetups-category.meetups-category--seminars
						h2.section__title Семинары
						+SeminarItem()
						+SeminarItem()
						+SeminarItem()
						+SeminarItem()
						+SeminarItem()
						button.secondary-button.meetups-more--seminars Показать еще
					.meetups-category.meetups-category--webinars
						h2.section__title Вебинары
						+WebinarItem()
						+WebinarItem()
						+WebinarItem()
						+WebinarItem()
						+WebinarItem()
						button.secondary-button.meetups-more--webinars Показать еще

			.meetups-more-wrapper
				button.secondary-button.meetups-more.meetups-more--desktop Показать еще


	.news-wrapper#news
		.news-container.container
			.news
				h2.section__title.news__title Новости
				.news-slider-outer
					.news-slider-wrapper.swiper-container
						.news-slider.swiper-wrapper
							div.news-item.swiper-slide
								+pic({
									pictureClass: 'news__picture',
									ext: 'png',
									src: 'img/7-news/news-1'
								})
								.news-info
									h3.news-item__title Заголовок новости
									p.news-item__descr Текст описания в 2 строчки, чтобы набить обхем текста
									div.news-bottom
										button.news-button Подробнее
										span.news-date 02.06.20
							div.news-item.swiper-slide
								+pic({
									pictureClass: 'news__picture',
									ext: 'png',
									src: 'img/7-news/news-1'
								})
								.news-info
									h3.news-item__title Заголовок новости
									p.news-item__descr Текст описания в 2 строчки, чтобы набить обхем текста
									div.news-bottom
										button.news-button Подробнее
										span.news-date 02.06.20
							div.news-item.swiper-slide
								+pic({
									pictureClass: 'news__picture',
									ext: 'png',
									src: 'img/7-news/news-1'
								})
								.news-info
									h3.news-item__title Заголовок новости
									p.news-item__descr Текст описания в 2 строчки, чтобы набить обхем текста
									div.news-bottom
										button.news-button Подробнее
										span.news-date 02.06.20

							div.news-item.swiper-slide
								+pic({
									pictureClass: 'news__picture',
									ext: 'png',
									src: 'img/7-news/news-2'
								})
								.news-info
									h3.news-item__title Заголовок новости
									p.news-item__descr Текст описания в 2 строчки, чтобы набить обхем текста
									div.news-bottom
										button.news-button Подробнее
										span.news-date 02.06.20

							div.news-item.swiper-slide
								+pic({
									pictureClass: 'news__picture',
									ext: 'png',
									src: 'img/7-news/news-2'
								})
								.news-info
									h3.news-item__title Заголовок новости
									p.news-item__descr Текст описания в 2 строчки, чтобы набить обхем текста
									div.news-bottom
										button.news-button Подробнее
										span.news-date 02.06.20

							div.news-item.swiper-slide
								+pic({
									pictureClass: 'news__picture',
									ext: 'png',
									src: 'img/7-news/news-2'
								})
								.news-info
									h3.news-item__title Заголовок новости
									p.news-item__descr Текст описания в 2 строчки, чтобы набить обхем текста
									div.news-bottom
										button.news-button Подробнее
										span.news-date 02.06.20
					.news-slider-scrollbar.slider-scrollbar
					.news-slider-prev.slider-button
						//- img(src="img/0-common/arrow-left.svg", alt="")
						+leftArrow('news-slider__arrow')
					.news-slider-next.slider-button
						+rightArrow('news-slider__arrow')
						//- img(src="img/0-common/arrow-right.svg", alt="")







		.partners-wrapper#partners
			.partners-container.container
				.partners
					h2.section__title.partners__title Партенры
					.partners-slider-outer
						.partners-slider-wrap.swiper-container
							.partners-slider.swiper-wrapper
								div.partners-item.swiper-slide
									div.partners-item__border
										+pic({
											pictureClass: 'partners__picture',
											ext: 'png',
											src: 'img/8-partners/gbuzvookb'
										})
								div.partners-item.swiper-slide
									div.partners-item__border
										+pic({
											pictureClass: 'partners__picture',
											ext: 'png',
											src: 'img/8-partners/gedeon'
										})
								div.partners-item.swiper-slide
									div.partners-item__border
										+pic({
											pictureClass: 'partners__picture',
											ext: 'png',
											src: 'img/8-partners/gkb'
										})
								div.partners-item.swiper-slide
									div.partners-item__border
										+pic({
											pictureClass: 'partners__picture',
											ext: 'png',
											src: 'img/8-partners/sergiev-posad'
										})
								div.partners-item.swiper-slide
									div.partners-item__border
										+pic({
											pictureClass: 'partners__picture',
											ext: 'png',
											src: 'img/8-partners/atmos'
										})
								div.partners-item.swiper-slide
									div.partners-item__border
										+pic({
											pictureClass: 'partners__picture',
											ext: 'png',
											src: 'img/8-partners/atmos'
										})
								div.partners-item.swiper-slide
									div.partners-item__border
										+pic({
											pictureClass: 'partners__picture',
											ext: 'png',
											src: 'img/8-partners/atmos'
										})
						.partners-slider-scrollbar.slider-scrollbar
						.partners-slider-prev.slider-button
							+leftArrow('news-slider__arrow')
							//- img(src="img/0-common/arrow-left.svg", alt="")
						.partners-slider-next.slider-button
							+rightArrow('news-slider__arrow')
							//- img(src="img/0-common/arrow-right.svg", alt="")

		mixin oldResourcesItem()
			li.resourses-item
					div.resourses-item-info
						h3.resourses-item__title Электронно-библиотечная система
						p.resourses__size 1 Мб
					button.resourses-download
						span Скачать PDF
						img(src="img/0-common/pdf.svg", alt="")

		mixin ResoursesItem(data)
			li.resourses-item
				a(href="#").resourses-item__link
					img(src="img/9-resources/"+data.src, alt="resourse").resourses-item__icon
					h3.resourses-item__name= data.name




		section.resourses-wrapper#resourses
			.resourses-container.container
				.resourses
					h2.section__title.resourses__title Ресурсы
					ul.resourses-list
						+ResoursesItem({
							name: 'Электронно-библиотечная система',
							src: 'books.svg'
						})
						+ResoursesItem({
							name: `Федеральное медико\u2011биологическое агентство`,
							src: 'pharmacy.svg'
						})
						+ResoursesItem({
							name: 'Портал непрерывного медицинского образования',
							src: 'graduate.svg'
						})
						+ResoursesItem({
							name: 'Центральная научная медицинская библиотека',
							src: 'atom.svg'
						})
						+ResoursesItem({
							name: 'Электронная медицинская библиотека',
							src: 'caduceus.svg'
						})
						+ResoursesItem({
							name: 'Фундаментальная медицинская библиотека',
							src: 'dna.svg'
						})
						+ResoursesItem({
							name: 'Медицинская энциклопедия',
							src: 'encyclopedia.svg'
						})
						+ResoursesItem({
							name: 'Единое окно доступа к информационным ресурсам',
							src: 'file.svg'
						})







		.testimonials-wrapper#testimonials
			.testimonials-container.container
				.testimonials
					h2.section__title.testimonials__title Отзывы
					.testimonials-slider-outer
						//- .testimonials-slider-wrap.swiper-container
						.testimonials-slider-wrap
							
							//- ul.testimonials-list.testimonials-slider.swiper-wrapper
							ul.testimonials-list.testimonials-slider
								mixin Testimonial(numb)
									li.testimonial-item.swiper-slide
										div.testimonial
											+pic({
												pictureClass: 'testimonial__picture',
												ext: 'png',
												src: 'img/10-testimonials/testimonial-1'
											})
											div.testimonial-message
												div.testimonial-message-info
													div.testimonial-who
														h3.testimonial-who__name Оксана Иванова
														p.testimonial-who__position Директор MacDonalds
													div.testimonial__date 02.06.20
												p.testimonial__text Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum. In culpa qui officia deserunt mollit anim id est laborum.


								+Testimonial('1')
								+Testimonial('2')
								+Testimonial('3')
								+Testimonial('4')
								+Testimonial('5')
								+Testimonial('6')
							.testimonials-slider-scrollbar
						//- li.testimonial
						//-     +pic({
						//-         pictureClass: 'testimonial__picture',
						//-         ext: 'png',
						//-         src: 'img/10-testimonials/testimonial-3-1'
						//-     })
						//-     div.testimonial-message
						//-         div.testimonial-message-info
						//-             div.testimonial-who
						//-                 h3.testimonial-who__name Оксана Иванова
						//-                 p.testimonial-who__position Директор MacDonalds
						//-             div.testimonial__date 21.06.20
						//-         p.testimonial__text Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum. In culpa qui officia deserunt mollit anim id est laborum.
						//- li.testimonial
						//-     +pic({
						//-         pictureClass: 'testimonial__picture',
						//-         ext: 'png',
						//-         src: 'img/10-testimonials/testimonial-3'
						//-     })
						//-     div.testimonial-message
						//-         div.testimonial-message-info
						//-             div.testimonial-who
						//-                 h3.testimonial-who__name Артем Репин
						//-                 p.testimonial-who__position Основатель Apple
						//-             div.testimonial__date 12.06.20
						//-         p.testimonial__text Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum. In culpa qui officia deserunt mollit anim id est laborum.
					.testimonials-more-wrap
						button.secondary-button.testimonials-more Показать еще
