extends common/layout
include common/mixins

block content
	main.subpage
		.container
			script.
				var mapsDelay = 1000;

			.breadcrumbs
				a.breadcrumb.breadcrumb--main(href="#") Главная
				a.breadcrumb(href="#") Об академии
				a.breadcrumb(href="#") Лицензии

			h1.section__title.section__title--page Вакансии

		.container
			.jobs-list
				.jobs-list__header.jobs-item
					.jobs-list__header-item.jobs-item__name Вакансия 
					.jobs-list__header-item.jobs-item__descr Описание
					.jobs-list__header-item.jobs-item__cta Подать заявку
				.jobs-list__body
					div.jobs-item
						div.jobs-item__name Вакансия 1
						div.jobs-item__descr Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus ac porta diam. Duis sed quam quam. Etiam orci ligula, auctor sit amet sem in, tempor placerat est. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Phasellus at iaculis nunc, vel pulvinar velit.
						div.jobs-item__cta
							button.primary-button Подать заявку
					div.jobs-item
						div.jobs-item__name Вакансия 2
						div.jobs-item__descr Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus ac porta diam. Duis sed quam quam. Etiam orci ligula, auctor sit amet sem in, tempor placerat est. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Phasellus at iaculis nunc, vel pulvinar velit.
						div.jobs-item__cta
							button.primary-button Подать заявку
					div.jobs-item
						div.jobs-item__name Вакансия 3
						div.jobs-item__descr Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus ac porta diam. Duis sed quam quam. Etiam orci ligula, auctor sit amet sem in, tempor placerat est. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Phasellus at iaculis nunc, vel pulvinar velit.
						div.jobs-item__cta
							button.primary-button Подать заявку
					div.jobs-item
						div.jobs-item__name Вакансия 4
						div.jobs-item__descr Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus ac porta diam. Duis sed quam quam. Etiam orci ligula, auctor sit amet sem in, tempor placerat est. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Phasellus at iaculis nunc, vel pulvinar velit.
						div.jobs-item__cta
							button.primary-button Подать заявку

block scripts
	script(src="js/modal.min.js")
	script(src="js/blocks/headerAndFooter.min.js")
