extends common/layout
include common/mixins

block content
	main.subpage
		script.
			var mapsDelay = 100;
		.about-wrap#about
			.about-container.container
				.about
					h2.section__title.section__title--left.about__title ПОвышение квалификации по направлению «Менеджмент»
					p.regular-text.about__text Предлагаем освоить новую специальнгость по направлению «Менеджмент». Для этого достаточно пройти курсы профессиональной переподготовки по направлению «Менеджмент». Учебные программы с нагрузкой более 1000 академических часов позволяют получить диплом о профпереподготовке с присвоением квалификации. Подробности уточняйте у спецаиалистов академии.





block scripts
	script(src="js/modal.min.js")
	script(src="js/blocks/headerAndFooter.min.js")
block scripts
	script(src="js/modal.min.js")
	script(src="js/blocks/headerAndFooter.min.js")
