extends common/layout
include common/mixins


block content
	main.subpage--white.skillup-page
		script.
			var mapsDelay = 100;
		.about-wrap#about
			.about-container.container
				.about
					h2.section__title.section__title--left.about__title Повышение квалификации по направлению «Менеджмент»
					p.regular-text.about__text Предлагаем освоить новую специальнгость по направлению «Менеджмент». Для этого достаточно пройти курсы профессиональной переподготовки по направлению «Менеджмент». Учебные программы с нагрузкой более 1000 академических часов позволяют получить диплом о профпереподготовке с присвоением квалификации. Подробности уточняйте у спецаиалистов академии.

		.learning#learning
			.container.skillup-container
				.learning-tabs-wrap
					.learning-tabbar
						button.learning-tab__control.learning-tab__control--skillup.learning-tab__control--active Профессиональная переподготовка
						button.learning-tab__control.learning-tab__control--retrain Повышение квалификации 

					.learning-tab--retrain
						div.learning-tab
							//- .learni g-page-search.header-search
							//-     input(placeholder="Поиск программ этого направления").search.learning-page__search.header__search
							.learning-page-list
								+learningPageItem()
								+learningPageItem()
								+learningPageItem()
								+learningPageItem()

					.learning-tab--skillup.learning-tab--active
						.learning-tab
							//- .learning-page-search.header-search
							//-     input(placeholder="Поиск программ этого направления").search.learning-page__search.header__search
							.learning-page-list
								+learningPageItem()
								+learningPageItem()
								+learningPageItem()
								+learningPageItem()
			.button--center-aligner
				button.secondary-button--show-more.secondary-button.skillup-page__more Показать еще
		.container.mobile-fullpage-container
			.paper
				h3 Содержание программ по переподготовке
				p Содержание программы направлено на то, чтобы учащиеся в максимально короткие сроки смогли освоить теоретический и практический базис знаний, который необходим для работы в области менеджмента и управления. 
					b В рамках курса будут рассмотрены следующие темы:
				ul
					li Менеджмент и есть основная специфика;
					li Знакомство с разными видами управления (стратегическим, тактическим и оперативным);
					li Работа с разносрочными планами, принципы их композиции и декомпозиции;
					li Проведение самостоятельной оценки эффективности своей работы
				p Более углублённые программы разрабатываются опытными преподавателями СНТА с учётом потребностей целевой аудитории. Средняя продолжительность обучения составляет около 250 академических часов. Есть разные типы программ, предназначенные для сотрудников разных предприятий (коммерческого и некоммерческого плана).
				h3 Преимущества дистанционного обучения
				p СНТА проводит дистанционное обучение с использованием современных образовательных технологий. Речь идёт об учёбе в удобном удалённом формате, благодаря которому участникам не нужно выезжать в Академию и тратить финансовые средства на дорогу туда и обратно. Сразу же после оплаты полной стоимости курса вы получаете доступ к нашей онлайн-библиотеке, где расположены все материалы, необходимые для учёбы. Доступ к ним му предоставляем 24 часа в сутки, как и круглосуточную техническую поддержку на сайте.
				p По окончании обучения слушатели защищают дипломную работу и проходят итоговую аттестацию. За дипломом ехать в СНТА тоже нет необходимости: опытный курьер оперативно доставит его вам на указанный почтовый адрес в любой регион России. Доставка бесплатна, а её срок составит не более трёх дней с момента окончания курсов.
				h3 Требования к участникам
				p Курсы профпереподготовки рассчитаны на лиц, имеющих высшее или среднее профессиональное образование. При этом, вид основной специальности не играет особой роли.
				p Согласно общественным профессиональным стандартам, утверждённым 22.04.2008 г., есть рекомендация о том, что для человека, желающего посвятить себя управленческой сфере, рекомендовано иметь высшее образование либо обладать профессиональными навыками, соответствующими его уровню.
				p Если вы желаете записаться на курс «Менеджмент», это можно сделать прямо сейчас. Оставьте свою заявку в диалоговом окне сайта или свяжитесь с нашими онлайн-консультантами по указанному номеру телефона, и вы получите ответ в ближайшее время.

		.features
			+featuresBlock({
				title: 'Плюсы образования, полученного в СНТА',
			})
		.licenses
			.container.container--mobile-fullscreen
				h2.section__title Лицензии
				.licenses-list

					+licenseItem({text: 'Свидетельство о пастановке в налоговый орган от 24.11.2020' })
					+licenseItem({text: 'Устав АНО ДПО АРИТ 20.10.2020'})
					+licenseItem({text: 'Договор аренды от 15.12.2020'})
					+licenseItem({text: 'Свидетельство о гос.рег 03.12.2020'})

block scripts
	script(src="js/modal.min.js")
	script(src="js/blocks/headerAndFooter.min.js")
	script(src="js/pages/skillup.min.js")
