extends common/layout
include common/mixins

block content
	main.subpage
		.container
			script.
				var mapsDelay = 1000;

			.breadcrumbs
				a.breadcrumb.breadcrumb--main(href="#") Главная
				a.breadcrumb(href="#") Об академии
				a.breadcrumb(href="#") Лицензии

			h1.section__title.section__title--page Образовательные стандарты

		.container.container--mobile-fullscreen
			.standards
				+ResoursesItem({
					name: 'Специалист в области лечебного дела (фельдшер)',
					src: 'img/pages/standards/scope.svg'
				})
				+ResoursesItem({
					name: 'Специалист в области акушерского дела (акушерка)',
					src: 'img/pages/standards/baby.svg'
				})
				+ResoursesItem({
					name: 'Специалист в области сестринского дела (медицинская сестра)',
					src: 'img/pages/standards/injection.svg'
				})
				+ResoursesItem({
					name: 'Федеральный закон Российской Федерации от 29 декабря 2012 г. N 273-ФЗ "Об образовании в Российской Федерации"',
					src: 'img/pages/standards/balance.svg'
				})




block scripts
	script(src="js/modal.min.js")
	script(src="js/blocks/headerAndFooter.min.js")
