mixin SeminarItem()
	.meetups-item.meetups-item--seminar
		picture.meetups__picture
			img(src="img/6-meetups/webinar.png")
		//- +pic({
		//-   pictureClass: 'meetups__picture',
		//-   ext: 'png',
		//-   src: 'img/6-meetups/seminar'
		//- })
		.meetup-info
			h3.meetup__title Название мероприятия
			.meetup-about
				.meetup-location
					img(src="img/0-common/geo.svg", alt="geo-icon")
					p г. Санкт-Петербург, ул. 50 лет ВЛКСМ д.22, офис 351
				.meetup-time
					img(src="img/0-common/time.svg")
					p 26.03.21
			.meetup-buttons
				button.meetup__primary-button.primary-button.seminar__button-cta Принять участие
				button.meetup__secondary-button.thirdly-button.seminar__button-more Подробнее


mixin WebinarItem()
	.meetups-item.meetups-item--webinar
		picture.meetups__picture
			img(src="img/6-meetups/webinar.png")
		//- +pic({
		//-   pictureClass: 'meetups__picture',
		//-   ext: 'png',
		//-   src: 'img/6-meetups/webinar'
		//- })
		.meetup-info
			h3.meetup__title Название мероприятия
			.meetup-about
				.meetup-location
					img(src="img/0-common/geo.svg", alt="geo-icon")
					p г. Санкт-Петербург, ул. 50 лет ВЛКСМ д.22, офис 351
				.meetup-time
					img(src="img/0-common/time.svg")
					p 26.03.21
			.meetup-buttons
				button.meetup__primary-button.primary-button.webinar__button-cta Принять участие
				button.meetup__secondary-button.thirdly-button.webinar__button-more Подробнее
