/* Buttons */
.button--center-aligner {
	display: flex;
	justify-content: center;
	width: 100%;
}
button {
    cursor: pointer;
	font-family: var(--ff-bold);
	font-size: var(--f-header);
}

.primary-button {
    box-sizing: border-box;
    border: none;
    transition: all 0.3s;
	background: var(--gradient-primary);
	color: #fff;
	padding: 20px 30px;
	border-radius: 5px;
	font-size: 14px;
	min-width: 230px;
}
.primary-button:focus,
.primary-button:hover {
	transform: translateY(-3px)
}

.secondary-button {
	font-size: 14px;
	padding: 18px 20px;
	line-height: 1;
	border: 2px solid var(--color-text-regular);
	border-radius: 5px;
	background: transparent;
	color: var(--color-text-regular);
	width: 230px;
	transition: all 0.2s;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	font-family: var(--ff-bold);
}
.secondary-button:focus,
.secondary-button:hover {
	color: #fff;
	background: var(--color-text-regular);
	transition: all 0.3s
}

.thirdly-button {
	border: none;
	background: transparent;
	color: var(--color-text-secondary);
	position: relative;
}
.thirdly-button:after {
	display: block;
	position: absolute;
	left: 0;
	right: 0;
	margin: 0 auto;
	content: '';
	width: 90%;
	height: 2px;
	background-color: var(--color-text-secondary);
}
.thirdly-button:hover {
	color: var(--color-primary)
}

.show-more-button--hidden {
	display: none !important;
}



/* Burger */

.burger-clickable {
	display: none;
	width: 50px;
	justify-content: flex-end;
	align-items: center;
}
.burger {
	display: none;
	width: 30px;
}

.burger span,
.burger span:before, 
.burger span:after {
	height: 3px;
	width: 100%;
	background-color: var(--color-text-regular);
	display: block;
	transition: all 0.3s;
}
.burger span:before,
.burger span:after {
	content: '';
}
.burger span:before {
	transform: translateY(-8px);
}
.burger span:after {
	transform: translateY(5px);
}
.header--burger-shown {
	z-index: var(--z-pop);
	position: relative;
}
.burger--shown span {
	background-color: transparent;
}
.burger--shown span:before {
	transform: translateY(0) rotate(-45deg);
}
.burger--shown span:after {
	transform: translateY(-3px) rotate(45deg);
}

.burger-menu {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 1px;
	min-height: 100vh;
	/* max-height: 100vh; */
	background-color: #fff;
	transform: translateY(-200%);
	transition: all 0.8s;
	padding-top: 80px;
	padding-bottom: 80px;
}
.burger-menu--shown {
	z-index: var(--z-burger);
	transform: translateY(0);
	height: auto;
}
.burger-contacts {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	padding-left: 40px;
	padding-right: 40px;
}


/* Slider */
.slider-button {
	width: 40px;
	height: 40px;
	border-radius: 40px;
	position: absolute;
	top: 40%;
	background: var(--gradient-primary);
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: var(--z-contorls);
	transition: all 0.3s;
}
.slider-button:hover {
	cursor: pointer;
	transform: scale(1.15);
	transition: all 0.3s;
}
.swiper-button-disabled {
	opacity: 0.3;
}
.swiper-button-disabled:hover {
	transform: scale(1);
}

.slider-scrollbar {
	height: 5px;
	position: relative;
	z-index: 0;
}
.slider-scrollbar:after {
	content: '';
	display: block;
	position: absolute;
	height: 2px;
	width: 100%;
	bottom: -3px;
	z-index: -2;
	background-color: var(--color-lines);
}
.swiper-scrollbar-drag {
	/* min-width: 80px !important; */
	border-radius: 0;
	background: var(--gradient-primary);
	height: 8px;
}
