@media (max-width: 480px) {

	:root {
		--f-header: 12px;
		--f-regular: 14px;
		--f-title: 18px;
	}
	.container{
		max-width: 320px;
	}
	.section__title {
		margin-bottom: 30px;
	}
	.primary-button {
		max-width: 290px;
		width: 100%;
		padding-top: 14px;
		padding-bottom: 14px;
	}
	.secondary-button {
		width: 85%;
		padding: 15px;
		margin: 0 auto;
	}

	.slider-button {
		display: none;
	}
	.swiper-scrollbar-drag {
		height: 5px;
	}
	.swiper-scrollbar-drag:after {
		bottom: -1px;
	}





	.header {
		padding: 15px 0;
	}
	.header__logo {
		width: 50px;
	}
	.header__logo img {
		width: 100%;
	}

	.socials,
	.header-phone,
	.header-email,
	.header_get-consult {
		display: none;
	}
	.header-search:before {
		left: 5px;
		top: 5px;
	}
	.header__search {
		padding: 6px 6px 6px 30px;
		border-top: none;
		border-left: none;
		border-right: none;
		border-bottom: 1px solid var(--color-text-regular);
		border-radius: 0;
		max-width: 120px;
		font-size: 14px;
	}	
	.nav {
		display: none;
	}

	


	.hero-wrapper {
		height: 760px;
		margin-bottom: 50px;
	}
	.hero {
		padding-top: 30px;
		background-position: 25% bottom;
		background-size: 180%;
	}
	.hero-container {
		padding-right: 10px;
	}
	.hero__title {
		margin-bottom: 20px;
		font-size: 20px;
	}
	.hero-cta {
		padding-top: 20px;
		padding-bottom: 20px;
	}
	.hero-bullets {
		padding-left: 15px;
	}
	.hero-bullets:before {
		left: 1px;
		top: 10px;
		height: 122px;
	}
	.hero-bullet {
		margin-bottom: 18px;

	}
	.hero-bullet:before {
		left: -21px;
		top: -1px;
		box-shadow: none;
		width: 6px;
		height: 6px;
		border: none;
	}
	.hero__picture-left,
	.hero__picture-right {
		display: none;
	}




	.learning__title {
		max-width: 70%;
		margin-bottom: 30px;
		margin-left: auto;
		margin-right: auto;
	}
	.learning-tabs-wrap {
		padding: 8px 8px 30px;
		position: relative;
	}
	.learning-tabbar {
		flex-direction: column;
		margin-bottom: 10px;
		position: sticky;
		left: 0;
		top: 10px;
		z-index: 2;
		background-color: var(--color-surface-dark);
	}
	.learning-tab__control {
		width: 100%;
		box-sizing: border-box;
		padding-left: 50px;
		padding-right: 50px;
		height: 65px;
		margin-bottom: 10px;
	}
	.learning-tab__control--skillup.learning-tab__control--active {
		-webkit-clip-path: none;
		border-radius: 0;
	}
	.learning-tab__control--retrain.learning-tab__control--active {
		-webkit-clip-path: none;
		border-radius: 0;
	}
	.learning-tab {
		flex-direction: column;
		padding-left: 20px;
		margin-bottom: 10px;
	}
	.learning-tab-list {
		margin: 0;
	}
	.learning-tab-list:before {
		display: none;
	}
	.learning-tab-list-item {
		margin-bottom: 22px;
		font-size: 14px;
	}
	.learning-more--retrain,
	.learning-more--skillup {
		display: block;
	}


	.about-wrap {
		margin-bottom: 0;
		padding-bottom: 30px;
	}
	.about-container {
		flex-direction: column;
	}
	.about {
		padding-top: 25px;
		padding-bottom: 0;
		margin-right: 0;
	}
	.about-more {
		display: block;
	}

	.about-picture {
		transform: none;
	}
	.about-picture__left,
	.about-picture__right,
	.about-picture__right-2 {
		display: none;
	}
	.about__title {
		margin-bottom: 20px;
	}
	.about__text {
		font-size: 14px;
		margin-bottom: 20px;
	}
	.about-more {
		max-width: 180px;
		font-size: 14px;
		margin-bottom: 30px;
		font-family: var(--ff-extra);
	}


	.features {
		padding-bottom: 50px;
	}
	.features__title {
		margin-bottom: 30px;
	}
	.features-list {
		flex-direction: column;
	}
	.features-list-item {
		width: 100%;
		padding: 25px 10px 25px 25px;
	}
	.features-item__text {
		font-size: 15px;
		padding-right: 0;
		margin-bottom: 100px;
	}
	.features-list-item:nth-child(2) .features-item__text,
	.features-list-item:nth-child(3) .features-item__text {
		margin-bottom: 115px;
	}
	.features-list-item:nth-child(5) .features-item__text 
	{
		margin-bottom: 80px;
	}
	.features-list-item:nth-child(6) .features-item__text  {
		padding-right: 70px;
		margin-bottom: 85px;
	}

	.teachers-wrap {
		padding-top: 50px;
		padding-bottom: 0;
	}
	.teachers__title {
		margin-bottom: 40px;
	}
	.teachers-slider-wrap {
		max-width: 230px
	}
	.teachers-slider {
		margin-bottom: 50px;
	} 
	.teachers__pic {
		margin-bottom: 10px;
	}
	.teachers-slide__descr {
		padding-right: 10px;
		font-size: 14px;
	}
		
	.meetups-wrapper {
	}
	.meetups-category {
		max-width: 290px;
	}

	.meetup-info {
		padding-left: 15px;
		padding-right: 15px;
	}
	.meetup__title {
		margin-bottom: 18px;
		margin-bottom: 10px;
	}
	.meetup-location {
		max-width: 100%;
		margin-bottom: 15px;
	}
	.meetup-about p {
		font-size: 14px;
	}
	.meetup-about img {
		max-width: 25px;
	}
	.meetup-buttons {
		flex-wrap: wrap;
		justify-content: center;
	}
	.meetup__primary-button {
		margin-bottom: 15px;
	}
	.meetup__secondary-button {
		font-size: 10px;
		font-family: var(--ff-extra);
	}

}
