@media (max-width: 1200px){
	.about-page-hero {
		display: none;
	}
	.breadcrumbs {
		margin-bottom: 30px;
		flex-wrap: wrap;
	}
}
.simple-card {
	background-color: #fff;
	padding: 19px 20px 21px;
	margin-bottom: 30px;
}

.subpage {
	background-color: #f9fafa;
	/* margin-top: 156px; */
	padding-top: 156px;
	padding-bottom: 50px;
}
.subpage--white {
	background-color: #fff;
	/* margin-top: 156px; */
	padding-top: 156px;
}
.licenses-list {
	padding-bottom: 70px;
}
.licenses-item {
	background-color: #fff;
	padding: 20px;
	display: flex;
	justify-content: space-between;
	border-radius: 5px;
	margin-bottom: 25px;
}
.licenses-item__title {
	font-family: var(--ff-extra);
	font-size: 18px;
	margin-bottom: 5px;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	max-width: 820px;
}
.licenses-item__size {
	font-size: 14px;
	color: var(--color-text-secondary);
}
.licenses-item-download {
	display: flex;
	align-items: center;
	border: none;
	background: transparent;
}
.licenses-item-download__text {
	font-family: var(--ff-regular);
	font-size: 14px;
	margin-right: 10px;
	padding-top: 5px;
}


.main-info-container {
	display: flex;
	justify-content: space-between;
	margin-bottom: 50px;
}

.maininfo {
	max-width: 520px;
	margin-right: 130px;
}

.contacts-items {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
.contacts-item {
	margin-bottom: 25px;
}
.contacts-item--socials {
	margin-right: 20px;
}
.contacts-item-content {
	display: flex;
	align-items: center;
}
.contact-item-content img {
	margin-right: 10px;
}


.structure {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.structure-children {
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: relative;
}
.structure-children:before {
	content: '';
	position: absolute;
	top: -46px;
	right: 0;
	left: 0;
	margin-right: auto;
	margin-left: auto;
	display: block;
	width: 100%;
	max-width: 794px;
	height: 12px;
	z-index: 8;
	background: url(../img/0-common/dot-hor.svg);
	background-position: 1px 0;
}
.bordered-card {
	background-color: #fff;
	/* box-shadow: 0 6px 6px rgba(223, 223, 223, 0.25); */
	border-radius: 5px;
	padding: 5px;
	max-width: 386px;
	width: 30%;
	width: 377px;
}
.bordered-card__border {
	box-shadow: 0 6px 6px rgba(223, 223, 223, 0.3);
	border-radius: 5px;
	border: 1px solid #f2f2f2;
	background-color: #fff;
	padding: 27px 0 38px;
	text-align: center;
}
.bordered-card__name {
	font-size: 20px;
	font-family: var(--ff-extra);
}
.structure-item {
	position: relative;
	margin-bottom: 85px;
}
.structure-head {
	position: relative;
}
.structure-head:after {
	position: absolute;
	bottom: -105px;
	z-index: 10;
	left: 0;
	right: 0;
	margin-left: auto;
	margin-right: auto;
	content: '';
	display: block;
	background: url(../img/0-common/dots.svg);
	height: 120px;
	width: 30px;
}
.structure-child:nth-child(2):before {
	background: #fff;
	z-index: 9;
	width: 40px;
	height: 40px;
}
.structure-child:before {
	content: '';
	width: 30px;
	height: 67px;
	position: absolute;
	top: -46px;
	left: 0;
	right: 0;
	margin-left: auto;
	margin-right: auto;
	display: block;
	z-index: 10;
	background: url(../img/0-common/dots--bottom.svg);
}





.jobs-list {
	width: 100%;
	padding-bottom: 50px;
	/* margin-bottom: 70px; */
}
.jobs-list__header {
	display: flex;
	padding-bottom: 15px;
	color: #a6a6a6;
	border-bottom: solid #efefef 1px;
	margin-bottom: 30px;
	font-size: 14px;
}
.jobs-item {
	display: flex;
	/* justify-content: space-between; */
	margin-bottom: 40px;
	width: 100%;
}
.jobs-item__name {
	width: 30%;
	font-family: var(--ff-extra);
	font-size: 18px;
}
.jobs-item__descr {
	max-width: 400px;
	font-size: 16px;
	width: 400px;
	margin-right: 100px;
}
.jobs-list__header-item.jobs-item__name {
	font-size: 14px;
	font-family: var(--ff-regular);
}
@media (max-width: 1200px) {
	.jobs-list__header {
		display: none;
	}
	.jobs-item {
		flex-direction: column;
		padding-bottom: 20px;
		border-bottom: 1px solid var(--color-lines);
	}
	.jobs-item__name {
		font-size: 16px;
		margin-bottom: 10px;
		margin-right: 0;
		width: 100%;
	}
	.jobs-item__descr {
		font-size: 14px;
		margin-bottom: 22px;
		margin-right: 0;
		width: 100%;

	}
	.jobs-item__cta {
		margin-right: 0;
		width: 100%;
	}
}



@media (max-width: 1200px) {
	.subpage {
		/* margin-top: 95px; */
		padding-top: 95px;
	}
	.subpage--white {
		/* margin-top: 95px; */
		padding-top: 95px;
	}
	
	.main-info-container {
		flex-direction: column;
	}
	.maininfo {
		max-width: 100%;
		margin-right: 0;
		margin-bottom: 30px;
	}
	.maininfo-contacts .minititle {
		display: none;
	}
	.maininfo-contacts .socials {
		display: block;
	}
	.contacts-item-content img {
		max-width: 30px !important;
		margin-right: 10px;
	}

	.licenses-item__title {
		max-width: 240px !important;
		overflow: visible;
		white-space: normal;


		/* -webkit-line-clamp: 4; */
		/* display: -webkit-box; */
		/* -webkit-box-orient: vertical; */
		/* word-wrap: break-word; */
	}
	
	.bordered-card {
		max-width: 290px;
		margin-bottom: 64px;
	}

	.structure-children:last-child {
		flex-direction: column;
	}
	.structure-children:before {
		display: none;
	}
	.structure-child:last-child {
		display: none;
	}
	.structure-head:after {
		background: url(../img/0-common/dots-mobile.svg) !important;
		bottom: -86px;
		width: 30px;
		height: 102px;
	}
	.sturcture-item:after {
		background: url(../img/0-common/dots-mobile.svg) !important;
		bottom: -86px;
		width: 30px;
		height: 102px;
	}
	.structure-child:nth-child(1):before {
		display: none;
	}
	.structure-child:nth-child(2):before {
		background: url(../img/0-common/dots-mobile.svg) !important;
		width: 30px;
		top: -80px;
		height: 102px;
	}
	.bordered-card__name {
		font-size: 16px;
	}
	.section__title--page {
		margin-left: 0;
		max-width: 100%;
		text-align: left;
	}
	.container--mobile-fullscreen {
		max-width: 320px;
		box-sizing: border-box;
		padding-left: 0;
		padding-right: 0;
	}
}





.teachers-page {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	position: relative;
	margin-bottom: 30px;
}
.teachers-page:after {
	content: '';
	flex: auto;
	max-width: 278px;
}
.teachers-page .teachers-slide {
	margin-bottom: 30px;
	max-width: 278px;
}
.teachers__more {
	display: none;
}
@media (max-width: 1200px) {
	.teachers-page {
		justify-content: center;
	}
	.teachers-page .teachers-slide {
		margin-bottom: 20px;
	}
	.teachers__more {
		display: block;
	}
}







.meetups-preview {
	max-width: 417px;
	margin-right: 59px;
}
.meetups-page-container {
	display: flex;
	justify-content: space-between;
	margin-bottom: 50px;
}

.meetup-next-item {
	display: flex;
	background-color: #f2f2f2;
	margin-bottom: 25px;
	border-radius: 5px;
}
.meetup-next-item-due {
	width: 126px;
	max-width: 126px;
	color: var(--color-text-regular);
	border-radius: 5px 0 0 5px;
	padding: 25px 24px 24px 23px;
	box-sizing: border-box;
}
.meetup-next-item__date {
	font-size: 25px;
	font-family: var(--ff-extra);
	margin-bottom: 7px;
	text-align: center;
}
.meetup-next-item__status {
	font-size: 14px;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}
.meetup-next-item-due--current {
	background-color: var(--color-primary);
	color: #fff;
}

.meetup-next-item-info {
	box-sizing: border-box;
	padding: 20px 20px 20px 31px;
	background-color: #f9fafa;
}
.meetup-next-item-info__topic {
	font-family: var(--ff-medium);
	position: relative;
	font-size: 16px;
	margin-bottom: 20px;
	padding-left: 50px
}
.meetup-next-item-info__topic:before {
	content: 'Тема:';
	position: absolute;
	left: 0;
	top: 0;
	opacity: 0.5;
	font-family: var(--ff-regular);
}
.meetup-next-item-info__speakers {
	position: relative;
	font-size: 16px;
	padding-left: 80px
}
.meetup-next-item-info__speakers:before {
	content: 'Спикеры';
	position: absolute;
	left: 0;
	top: 0;
	opacity: 0.5;
	font-family: var(--ff-regular);
}



.archieve-wrapper {
	background-color: #f9fafa;
	padding-top: 70px;
}
.archieve-item {
	max-width: 377px;
	background-color: #fff;
	margin-bottom: 25px;
}
.archieve-item__name {
	padding: 20px;
	font-size: 16px;
	color: var(--color-text-regular);
}
.archieve-item__status {
	background-color: #f3f3f3;
	padding: 15px;
	text-align: center;
	font-size: 14px;
	font-family: var(--ff-extra);
}


.archieve {
	margin-bottom: 38px;
	display: flex;
	justify-content: space-between;
}
.archieve-wrapper {
	padding-bottom: 50px;
}

.meetups-page-container .meetup-info {
	background-color: #f9fafa;
}
.archieve-item__controls {
	display: flex;
	justify-content: space-between;
	padding: 24px 21px;
}
.archieve__cta {
	border: none;
	background: transparent;
	color: var(--color-primary);
	font-family: var(--ff-bold);
}
.archieve__cta path {
	fill: var(--color-primary);
}
.archieve__cta span {
	margin-right: 5px;
}
.archieve__date {
	color: #808080;
	font-size: 14px;
	font-family: var(--ff-medium);
}
.archieve__date:before {
	content: url(../img/0-common/clock-inline.svg);
	position: relative;
	margin-right: 5px;
}
.meetups-page--webinars .meetup-next-item-info{
	background-color: #fff;
}
.meetups-page--webinars .meetup-info{
	background-color: #fff;
}
.archieve-wrapper--webinars {
	background-color: #fff;
}
.archieve-wrapper--webinars .archieve-item {
	background-color: #f9fafa;
}

.archieve-item-picture {
	position: relative;
}
.archieve-play {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	margin-left: auto;
	margin-right: auto;
	margin-top: auto;
	margin-bottom: auto;
	z-index: 3;
	transition: all 0.3s;
}
.archieve-play:hover {
	transform: scale(1.5);
	transition: all 0.3s;
}

@media (max-width: 1200px) {
	.meetups-preview {
		margin-right: 0;
	}
	.meetups-page-container	{
		flex-wrap: wrap;
	}
	.meetup-next-item {
		flex-wrap: wrap;
	}
	.meetup-next-item-due {
		display: flex;
		justify-content: space-between;
		align-items: center;
		width: 100%;
		max-width: 100%;
		padding: 10px 15px;
		border-radius: 5px;
	}
	.meetup-next-item__date {
		font-size: 16px;
		margin-bottom: 0;
	}
	.meetup-next-item__status {
		font-size: 12px;
		margin-right: 0;
	}
	.meetup-next-item-info {
		padding: 20px 14px 14px 20px;
	}
	.meetup-next-item-info__topic {
		font-size: 14px;
		padding-left: 0;
		margin-bottom: 15px;
	}
	.meetup-next-item-info__topic:before {
		display: none;
	}
	.meetup-next-item-info__speakers {
		font-size: 14px;
		padding-left: 0;
	}
	.meetup-next-item-info__speakers:before {
		display: none;
	}
	.archieve-wrapper {
		padding-top: 50px;
	}
	.archieve {
		flex-wrap: wrap;
		margin-bottom: 20px;
	}
	.archieve-item {
		margin-bottom: 20px;
	}
	.archieve-item__name {
		padding: 20px 0 8px 20px;
		font-size: 14px;
	}
}






.learning-page .learning-tab--retrain {
	display: block;
}
.learning-page .learning-tab--skillup {
	display: block;
}
.learning-page-title {
	font-size: 20px;
	font-family: var(--ff-bold);
	text-align: center;
	padding-top: 35px;
	padding-bottom: 35px;
	position: relative;
	margin-bottom: 40px;
}
.learning-page-title:after {
	position: absolute;
	content: '';
	background-color: var(--color-lines);
	width: 60%;
	height: 1px;
	bottom: 10px;
	display: block;
	left: 0;
	right: 0;
	margin-left: auto;
	margin-right: auto;

}
.learning--skillup {
	background-color: #f9fafa;
	padding-top: 70px;
	padding-bottom: 70px;

}
.learning--skillup .learning-tabs-wrap {
	background-color: #fff;
}
/* .learning-tab-list.swiper-slide { */
/*     [> padding-left: 30px; <] */
/* } */
.section__title--center {
	text-align: center;
}
@media (max-width: 1200px) {
	.learning-page-title {
		padding-top: 14px;
		padding-bottom: 16px;
		padding-left: 20px;
		padding-right: 20px;
		background-color: #f0f0f0;
		font-size: 14px;
	}
	.learning-page .learning-tab-list-item {
		margin-left: 25px;
	}
	.learning--skillup {
		padding-top: 30px;
		padding-bottom: 20px;
	}
}





.testimonials-page {
	padding-bottom: 50px;
}






.partners-page .partners{
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	position: relative;
	padding-bottom: 40px;
}
.partners-page .partners:after {
	content: '';
	flex: auto;
	max-width: 450px;
}
.partners-page .partners-item {
	width: 200px;
	margin-bottom: 20px;
}
	.partners-page .partners__more {
		display: none;
	}
@media (max-width: 1200px) {
	
	.partners-page .partners {
		justify-content: center;
	}
	.partners-page .partners:after {
		display: none;
	}
	.partners-page .partners__more {
		display: block;
	}
}





.subpage--about {
	padding-bottom: 0;
}

.skillup-page .about-wrap,
.skillup-page .learning {
	background-color: #fff;
}
.skillup-page .learning-tab {
	padding-right: 35px;
}
.skillup-page .about {
	max-width: 630px;
	padding-bottom: 40px;
}
.skillup-page .learning-tab {
	display: flex;
	flex-direction: column;
}
.skillup-page .licenses-item {
	background: var(--color-surface-dark);
}

.learning-page-item {
	background-color: #fff;
	max-width: 100%;
	display: flex;
	justify-content: space-between;
	border-radius: 10px;
	overflow: hidden;
	margin-bottom: 25px;
	/* align-items: center; */
}
.learning-page-info-wrapper {
	display: flex;
}
.learning-page-number {
	/* height: 100%; */
	display: flex;
	align-items: center;
	justify-content: center;
	background: var(--color-primary);
	width: 51px;
}
.learning-page__number {
	/* background: var(--color-primary); */
	color: #fff;
	font-size: 26px;
	text-align: center;
	font-family: var(--ff-regular);
}

.learning-page-info {
	padding: 20px;
}
.learning-page-info__title {
	font-size: 18px;
	font-family: var(--ff-extra);
	margin-bottom: 10px;
}
.learning-page-info-buttons {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.learning-page-info__consult {
	margin-bottom: 20px;
}
.learning-page-info__field-name {
	position: relative;
	margin-right: 5px;
}
/* .learning-page-info__field-name:after { */
/*     content: ' '; */
/*     position: relative; */
/* } */
.learning-page-info__bullet {
	display: flex;
	font-size: 14px;
}
.learning-page-search {
	width: 100%;
	margin-bottom: 25px;
}
.learning-page__search {
	padding-top: 23px;
	padding-bottom: 23px;
	max-width: 100%;
	width: 100%;
}
.learning-page-search:before {
	bottom: 34%;
}
.skillup-page__more {
	display: none;
}
@media (max-width: 1200px) {
	
	.skillup-page .featuers {
		padding-top: 40px;
	}
	.skillup-page .licenses-item {
		background: #fff;
	}
	.skillup-page .learning {
		background-color: #f9fafa;
		border-radius: 5px;
		padding-bottom: 30px;
	}
	.skillup-page .learning-tabs-wrap {
		background-color: transparent;
		padding: 0;
	}
	.learning-page-number {
		display: none;
	}
	.learning-page-item {
		flex-direction: column;
		padding-bottom: 20px;
	}
	.skillup-page .learning-tab {
		padding-left: 0;
		padding-right: 0;
	}
	.learning-page-info-buttons {
		padding-left: 34px;
		padding-right: 34px;
	}
	.learning-page-info__consult {
		padding-left: 0;
		padding-right: 0;
	}
	.skillup-page__more {
		display: block;
	}
	.skillup-container {
		padding-left: 0;
		padding-right: 0;
	}
	.learning-page-info__bullet {
		display: block;
		font-size: 12px;
		line-height: 1.65;
	}

}






.paper {
	max-width: 972px;
	background-color: #f9fafa;
	margin-left: auto;
	margin-right: auto;
	padding: 10px 79px 50px 50px;
	color: var(--color-text-regular)
}
.paper b i {
	font-style: normal;
	background-color: var(--color-primary);
	color: #fff;
	display: block;
	padding: 23px;
	font-size: 16px;
	border-radius: 7px;
	margin-bottom: 20px;
	max-width: 70%;
}
.paper h3 {
	margin-top: 40px;
	margin-bottom: 25px;
	font-family: var(--ff-extra);
	font-size: 30px;
}
.paper p {
	margin-bottom: 20px;
	font-size: 16px;
	line-height: 1.45;
}
.paper img {
	max-width: 100%;
	margin-bottom: 20px;
	object-fit: contain;
}
.paper b {
	font-family: var(--ff-extra);
}
.paper ul {
	padding-left: 15px;
	margin-bottom: 10px;
}
.paper li {
	margin-bottom: 15px;
	font-size: 16px;
	line-height: 1.45;
}
.paper li:before {
	content: "\2022";
	color: var(--color-primary);
	font-weight: bold;
	display: inline-block; 
	width: 1em;
	margin-left: -1em;
}
.paper ol {
	counter-reset: paper-ol;
	padding-left: 70px;
	position: relative;
	max-width: 80%;
}
.paper ol:before {
	content: '';
	position: absolute;
	left: 24px;
	top: 0;
	display: block;
	width: 1px;
	height: 90%;
	border-left: 2px dashed var(--color-primary)
}
.paper ol li {
	position: relative;
	counter-increment: paper-ol;
	margin-bottom: 27px;
}
.paper ol li:before {
	content: counter(paper-ol);
	font-family: var(--ff-bold);
	font-size: 16px;
	position: absolute;
	top: -4px;
	left: -55px;
	display: flex;
	justify-content: center;
	align-items: center;
	border: 2px solid var(--color-primary);
	border-radius: 50%;
	width: 49px;
	height: 49px;
	background-color: #f9fafa;
}

.paper--news-item {
	max-width: 100%;
	border: 1px solid var(--color-lines);
	padding-left: 80px;
	padding-right: 80px;
	margin-bottom: 50px;
	border-radius: 10px;
}
.paper--news-item h1 {
	font-size: 24px;
	margin-top: 40px;
	font-family: var(--ff-extra);
	margin-bottom: 25px;
}
.paper--news-item img {
	margin-bottom: 10px;
}
.paper--news-item h3 {
	margin-top: 20px;
	font-size: 20px;
	font-family: var(--ff-bold);
}




.subpage .licenses-list {
	padding-bottom: 10px;
}
@media (max-width: 1200px) {
	.mobile-fullpage-container {
		max-width: 100% !important;
	}
	.paper {
		padding-left: 0;
		padding-right: 0;
		padding-bottom: 0;
		background-color: #fff;
	}
	.paper b i {
		padding: 10px;
		font-size: 14px;
		max-width: 100%;
	}
	.paper ol {
		padding-left: 0;
		padding-top: 40px;
		max-width: 100%;
	}
	.paper ol:before {
		display: none;
	}
	.paper ol li {
		margin-bottom: 50px;
	}
	.paper ol li:before {
		width: 20px;
		height: 20px;
		top: -30px;
		font-size: 16px;
		left: 15px;
	}
	.paper h3 {
		font-size: 18px;
	}
	.skillup-page .features-wrapper {
		background-color: #fff;
	}
	.skillup-page .licenses-list {
		padding-bottom: 30px;
	}
	.skillup-page .features {
		padding-bottom: 40px;
	}
	.skillup-page .licenses {
		background-color: var(--color-surface-dark);
		padding-top: 50px;
	}
		
	.paper--news-item {
		border: none;
	}
}





.course-about__descriptor {
	font-size: 14px;
	margin-bottom: 5px;
}
.course-about__value {
	font-size: 14px;
	color: var(--color-text-regular);
}


.container--page-course {
	display: flex;
	justify-content: space-between;
	margin-bottom: 10px;
}
.course-left {
	max-width: 694px;
}

.sticky-form-right .form-fields {
	width: 300px;
}
.sticky-form-right {
	border: 1px solid #f8f8f8;
	padding: 32px 32px;
	box-sizing: border-box;
}
.sticky-form-right-wrap {
	border: 7px solid #f9fafa;
	box-shadow: 0px 24px 0px -15px #f5f5f5, 0 4px 15px rgba(234, 234,234, 0.2);
	position: sticky;
	top: 180px;
	bottom: 40px;
}


.course-about {
	background-color: #f9fafa;
	border: 1px solid #e0e0e0;
	border-radius: 10px;
	padding: 20px 30px;
	display: flex;
	justify-content: space-between;
	width: 100%;
	box-sizing: border-box;
	margin-bottom: 30px;
}
.course-about__descriptor {
	color: #b8b8b8;
	font-size: 14px;

}
.course-about__value {
	max-width: 370px;
	font-size: 14px;
}

.course-info {
	transition: 0.3s all;
	margin-bottom: 45px;
}
.dropdown-block {
	margin-bottom: 20px;
	transition: 0.3s all;
}
.dropdown-block-inner {
	width: 100%;
	background: #f9fafa;
	display: flex;
	justify-content: space-between;
	align-items: center;
	box-sizing: border-box;
	padding: 26px 30px;
	transition: 0.3s all;
}
.dropdown-block__handler {
	position: relative;
	padding: 30px;
	margin: -15px;
	transition: 0.3s all;
	border-radius: 50%;
	border: none;
	background-color: transparent;
}

.dropdown-block__handler:focus {
	outline: none;
}
.dropdown-block__handler:before {
	content: '';
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	margin: auto;
	background-color: #808080;
	display: block;
	height: 4px;
	width: 18px;
	border-radius: 3px;
	transition: 0.3s all;
}
.dropdown-block__handler:after {
	content: '';
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	margin: auto;
	background-color: #808080;
	display: block;
	height: 4px;
	width: 18px;
	transform: rotate(90deg);
	border-radius: 3px;
	transition: 0.3s all;
}
.dropdown-block__handler--opened:after {
	transform: rotate(0);
	transition: 0.3s all;
}
.dropdown-block__handler:hover.dropdown-block__handler:before{
	background-color: var(--color-primary);
}
.dropdown-block__handler:hover.dropdown-block__handler:after{
	background-color: var(--color-primary);
}

.paper--dropdown {
	padding-left: 30px;
	padding-right: 30px;
	padding-top: 0;
	padding-bottom: 0;
	transition: 0.3s all;
	max-height: 0;
	overflow: hidden;
	box-sizing: border-box;
}
.dropdown-block--opened {
	max-height: fit-content;
	transition: 0.3s all;
}
.paper--dropdown h3 {
	font-size: 18px;
	font-family: var(--ff-bold);
}
.paper--dropdown b {
	font-family: var(--ff-bold);
}







.how-start-wrap {
	background-color: var(--color-surface-dark);
	padding-top: 70px;
}
.how-start {
	display: flex;
	flex-flow: column wrap;
	max-height: 280px;
	justify-content: center;
	align-items: stretch;
	padding-bottom: 40px;
}
.how-start-item {
	width: 350px;
	background-color: #fff;
	position: relative;
	padding: 20px;
	border-radius: 10px;
	margin-bottom: auto;
	box-sizing: border-box;
	margin-bottom: 20px;
	overflow: hidden;
}

.how-start-item:nth-child(1),
.how-start-item:nth-child(4) {
	height: 220px;
}
.how-start__text {
	font-size: 16px;
	max-width: 220px;
	line-height: 1.5;
	margin-bottom: 30px;
}
.how-start-item:nth-child(2) .how-start__text,
.how-start-item:nth-child(3) .how-start__text {
	margin-bottom: 10px;
}
.how-start__pic {
	/* position: absorute; */
	/* bottom: 0; */
	/* right: 0; */
	max-width: 60%;
  /*  margin-left: auto; */
	/* margin-right: -20px; */
	/* margin-bottom: -50px; */
	position: absolute;
	right: 0;
	bottom: 0;
	
}
.how-start__number {
	font-size: 55px;
	font-family: var(--ff-regular);
	position: absolute;
	left: 25px;
	bottom: -25px;
	color: var(--color-text-thirdly)
}
.how-start-item:nth-child(2) .how-start__number,
.how-start-item:nth-child(3) .how-start__number {
	left: unset;
	right: 10px;
	font-size: 35px;
	bottom: -20px;
}

.partners--course .partners-wrapper {
	background-color: #fff;
}
.partners--course .partners-item {
		/* box-shadow: 0px 24px 0px -15px #f5f5f5, 0 1px 15px rgba(207, 207,207, 0.35); */
		box-shadow: 0 1px 15px rgba(207, 207,207, 0.35);

}

.partners--course .slider-button {
	background-color: var(--color-primary);
}
.partners--course .swiper-scrollbar-drag {
	background-color: var(--color-primary);
}
.partners--course path {
	fill: #fff;
}
.partners--course .partners__title {
	color: var(--color-text-regular);
}
.page-course {
	margin-bottom: 60px;
	box-sizing: border-box;
}


.bg-white {
	background: #fff;
}
@media (max-width: 1200px) {

	.container--page-course {
		flex-direction: column;
	}
	.how-start {
		max-height: 100%;
	}
	.course-about {
		flex-direction: column;
	}
	.course-about-name {
		margin-bottom: 20px;
	}
	.sticky-form-right-wrap {
		margin-bottom: 40px;
		border: none;
	/* box-shadow: 0px 24px 0px -15px #f5f5f5, 0 1px 15px rgba(207, 207,207, 0.55); */
		box-shadow: 0px 24px 0px -15px #f5f5f5, 0 1px 15px rgba(207, 207,207, 0.35);
		/* box-shadow: 0px 1px 15px rgba(207, 207, 207, 0.55); */
	}
	.sticky-form-right {
		border: none;
		padding-bottom: 20px;
	}
	.sticky-form-right .form-fields {
		width: auto;
	}
	.how-start-item {
		width: 100%;
		border-radius: 10px;
		height: auto !important;
	}
	.sticky-form-right {
		padding: 10px;
	}
	.how-start__pic {
		display: none;
	}
	.how-start__text {
		font-size: 14px;
		margin-bottom: 0;
	}
	.how-start__number {
		font-size: 20px !important;
		left: unset !important;
		bottom: 10px !important;
		right: 20px;
	}
	.dropdown-block-inner {
		padding-left: 20px;
	}
	.paper--dropdown {
		background-color: #f9fafa;
		padding: 0 20px;
	}
	.testimonials-slider-outer {
		margin-bottom: 20px;
	}
}








.news-page .news-wrapper {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	padding-top: 0;
	margin-bottom: 30px;
}

.news-latest {
	display: flex;
	flex-direction: column;
	max-width: 100%;
}
.news-latest-one {
	max-width: 42%;
	margin-right: 20px;
	background-color: var(--color-surface-dark);
}
.news-latest-one .news-item__descr {
	margin-bottom: 20px;
	font-family: var(--ff-medium);
	color: var(--color-text-secondary);
}
.news-latest-one .news-button {
	 color: var(--color-text-regular);
}

.news-latest-one .news-button:hover {
	color: var(--color-primary);
}
.news-button:hover path {
	fill: var(--color-primary) !important;
}
.news-page .news-date {
	font-family: var(--ff-medium);
}
.news-latest-one__img-wrap {
	display: flex;
	overflow: hidden;
}
.news-latest-one__img-wrap img {
	object-fit: cover;
	object-position: center;
	transition: all 0.3s;
}
.news-latest-one__img-wrap:hover img {
	transform: scale(1.2);
	transition: all 0.3s;
}
.news-latest-one__pic {
	max-width: 100%;
	object-fit: cover;
	border-radius: 10px 10px 0 0;
}
.news-latest-one-info {
	/* margin-bottom: 20px; */
	padding: 24px 30px 20px;
	border-radius: 0 0 10px 10px;
}

.news-latest {
	background-color: var(--color-surface-dark);
	border-radius: 10px;
	overflow: hidden;
}
.news-latest-item {
	padding: 32px 60px 32px 20px;
	border-bottom: 1px solid var(--color-lines)
}

.news-latest-item:hover .news-item__title {
	color: var(--color-primary);
}
.news-latest-item:last-child {
	border-bottom: none;
}
.news-latest .news-item__title {
	margin-bottom: 15px;
}
.news-latest-item .news-date {
	margin-left: 6px;
}


.regular-news-wrapper {
	padding-bottom: 30px;
}
.regular-news {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}
.regular-news .news-item {
	max-width: 380px;
	border-radius: 10px;
	overflow: hidden;
	margin-bottom: 20px;
}
@media (max-width: 1200px) {
	.news-page .news-wrapper {
		flex-wrap: wrap;
	}
	.news-latest-one {
		max-width: 100%;
		margin-right: 0;
		margin-bottom: 20px;
	}
	.news-latest-one-info {
		padding-left: 20px;
		padding-right: 20px;
	}
	.news-latest-item {
		padding-left: 15px;
		padding-right: 15px;
	}
	.news-latest-item .news-item__title{
		font-size: 14px;
	}
}












.pagination-wrap {
	width: 100%;
	padding-top: 50px;
	padding-bottom: 50px;
}
.page-pagination {
	display: flex;
	justify-content: space-around;
	align-items: center;
	max-width: 500px;
	margin-left: auto;
	margin-right: auto;
	color: var(--color-text-secondary);
}
.pagination__prev-icon {
	transform: scale(-1, 1);
	margin-right: 5px;
}
.pagination__next-icon {
	margin-left: 5px;
}
.page-pagination path {
	fill: var(--color-text-secondary);
}
.page-pagination-pages {
	display: flex;
	justify-content: space-around;
}
.page-pagination__page {
	font-size: 16px;
	width: 40px;
	height: 40px;
	font-family: var(--ff-medium);
	display: flex;
	justify-content: center;
	border-radius: 50%;
	line-height: 1;
	align-items: center;
	background: var(--color-surface-dark);
	margin-right: 10px;
	margin-left: 10px;
	color: var(--color-text-regular);
}
.page-pagination__page--current {
	border: 2px solid var(--color-text-regular);
}
.page-pagination__prev,
.page-pagination__next {
	font-size: 12px;
	font-family: var(--ff-medium);
}



.contacts-page-items {
	width: 100%;
}
.contacts-page-items .contacts-items{
	display: flex;
	justify-content: space-between;
	width: 100%;
}


.subpage .standards {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.subpage .standards .resourses-item {
	max-width: 50%;
	width: 32%;
}
.subpage .standards .resourses-item:nth-child(4){
	width: 100%;
	max-width: 100%;
}

@media (max-width: 1200px) {

	.subpage .standards {
		flex-direction: column;
	}
	.subpage .standards .resourses-item {
		width: 100%;
		max-width: 100%;
	}

}
