extends common/layout
include common/mixins

block content
	main.subpage
		.container
			script
				| var mapsDelay = 1000;

			.breadcrumbs
				a.breadcrumb.breadcrumb--main(href="#") Главная
				a.breadcrumb(href="#") Отзывы

		.container.partners-container
			.partners-page
				h1.section__title Партнеры
				.partners
					+partnerItem({
						src: 'atmos',
						href: 'https://www.atmos-med.ru/',
					})
					+partnerItem({
						src: 'btl',
						href: 'https://www.btlmed.ru/',
						className: 'swiper-slide'
					})
					+partnerItem({
						src: 'cb',
						href: 'https://www.cbr.ru/',
					})
					+partnerItem({
						src: 'center-hygien',
						href: 'https://fcgie.ru/',
					})
					+partnerItem({
						src: 'center-karnelius',
						href: 'http://ucentr.karelia.ru/',
					})
					+partnerItem({
						src: 'dental-aurora-clinic',
						href: 'https://vk.com/dental.aurora',
					})
					+partnerItem({
						src: 'dr-super',
						href: 'https://www.instagram.com/doctor_super/?hl=ru',
					})
					+partnerItem({
						src: 'gbuzvookb',
						href: 'https://www.vladokb.ru/',
					})
					+partnerItem({
						src: 'gedeon-richter',
						href: 'https://g-richter.ru/',
					})
					+partnerItem({
						src: 'gkb-eramishanceva',
						href: 'https://gkbe.ru/',
					})
					+partnerItem({
						src: 'job-service',
					})
					+partnerItem({
						src: 'nii',
						href: 'https://niioz.ru/',
					})
					+partnerItem({
						src: 'president-gov-univercity',
						href: 'https://www.pnzgu.ru/',
					})
					+partnerItem({
						src: 'sergiev-posad',
						href: 'http://spmuzrb.ru/',
					})
					+partnerItem({
						src: 'doctor',
						href: 'https://www.lvrach.ru/',
					})
					+partnerItem({
						src: 'ttp-optic',
						href: 'https://www.lvrach.ru/',
					})
					+partnerItem({
						src: 'szgmu',
						href: 'https://szgmu.ru/rus/',
					})
					+partnerItem({
						src: 'status',
						href: 'https://www.rastatus.ru/',
					})

block scripts
	script(src="js/modal.min.js")
	script(src="js/blocks/headerAndFooter.min.js")
