- var title = 'АРИТ — Стань востребованным специалистом в сжатые сроки, не отрываясь от работы';
- var ymTag = '';
- var ymLink = 'https://mc.yandex.ru/watch/' + ymTag;
- var phone = '+7 (499) 702-60-69';
- var phoneLnk = 'tel:+74997026069';
- var email = 'dpo@dpoarit.ru';
- var vk = 'https://vk.com/';
- var facebook = 'https://facebook.com/';
- var instagram = 'https://instagram.com';
- var geo = 'Москва, улица Образцова, д. 4';

doctype html
html(lang="ru")
    block head
        head
            meta(charset="utf-8")
            title #{title}
            meta(content="width=device-width, initial-scale=1" name="viewport")
            meta(content="ie=edge" http-equiv="x-ua-compatible")
            link(rel="stylesheet" href="css/style.css")
    body
        block header
            include header
            include ../modules/AllModules
        block content
        block footer
            include footer
            include ../modules/modals
        block scripts
            script(src="js/swiper-bundle.js")
            script(src="js/main.min.js")
            if (ymTag != '')
                // Yandex.Metrika counter
                script(type='text/javascript').
                    (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
                    m[i].l=1*new Date();k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})
                    (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");
                    ym(#{ymTag}, "init", {
                        clickmap:true,
                        trackLinks:true,
                        accurateTrackBounce:true,
                        webvisor:true
                    });
                noscript
                    div
                    img(src=`${ymLink}`, style='position:absolute; left:-9999px;', alt='')
                // Yandex.Metrika counter
